#include "Pods/Target Support Files/Pods-available_pods-Patazone/Pods-available_pods-Patazone.release.xcconfig"

PROJECT_BUNDLE_ID = com.patazone.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Patazone Driver
PROJECT_PLIST = PatazoneInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
